<nav class="navbar-dark bg-dark">
    <div class="container">
        <a 
            routerLink="" 
            class="navbar-brand">
            <img 
            src="../../assets/images/angular2-bugged-out-11-asset-buggedout-logo.png" 
            alt="">
        </a>
        <ul class="navbar-nav float-right"><!--"mr-auto" https://getbootstrap.com/docs/4.1/components/navbar/ -->
            <li class="nav-item dropdown">
                <a 
                    href="#" 
                    class="nav-link dropdown-toggle" 
                    id="navbarDropdown" 
                    role="button"
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    jaime@coficiency.com
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-dropdown">
                    <a href="#" class="dropdown-item">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>